:css
	#article input[type="text"],
	#article textarea{ width:95% }
	#errors{ display:block; width:95%; border:1px solid red; }
	ul#article li{ margin-top:2px; margin-left:5px; margin-right:5px; }
	#article li.authors li { margin:0px; padding:0px }
	ul.sources{ margin-left:30px; border-bottom:1px solid #CCC; padding-bottom:5px; }
	#content-tabs{ background-color:white; }
	#content-tabs ul, #content-tabs li{
		background-color:white;
	}
	#intro-tab, #body-tab{
		background-color:white; margin:0px; padding:0px;
		margin:3px;}
	#intro-tab textarea, #body-tab textarea{
		margin:0px; padding:0px;
		width:100%;
	}
	#article-preview .body p {margin:0 0 20px !important; line-height:21px}
	
	
	.ui-widget-content{ background-image:none; }
:javascript
	$(function(){
	
		$("a.clone-source").live("click",function(e){
			e.preventDefault();
			new_item = $(this).parent().parent().clone();
			new_item.appendTo($("div.sources-list"));
			
			$("ul.sources").each(function(i,val){
				$("li.title input",val).attr("name",
					"article[sources_attributes]["+i+"][title]"
				);
				$("li.url input",val).attr("name",
					"article[sources_attributes]["+i+"][url]"
				);
			});
		});
	
	});
	
=form_for([:admin,@article]) do |f|

	-if f.object.errors.any?
		#form_errors
			%ul
				- f.object.errors.full_messages.each do |e|
					%li=e

	%ul#article
		%li
			%strong=f.label :title, Article.human_attribute_name(:title)
			%br/
			=f.text_field :title
		%li
			%strong=f.label :image, Article.human_attribute_name(:image)
			%br/
			=f.text_field :image
		%li
			%strong=f.label :slug, Article.human_attribute_name(:slug)
			%br/
			=f.text_field :slug
			
		%li
			%strong=f.label :category, Article.human_attribute_name(:category)
			=f.collection_select :category_id, Category.all, :id, :to_s
		
		%li
			%strong=f.label :tags_list, Article.human_attribute_name(:tags)
			=f.text_field :tag_list
		
		%li{:style => "background-color:white;"}
			#content-tabs
				%ul
					%li
						%a(href="#intro-tab")=Article.human_attribute_name(:intro)
					%li
						%a(href="#intro-preview") Predogled uvoda
					%li	
						%a(href="#body-tab")=Article.human_attribute_name(:body)
					%li
						%a(href="#article-preview" id="article-preview-b") Predogled vsebine
				#intro-tab
					=f.text_area :intro, :rows => 15
					%div{:style=>"text-align:right; width:95%"}
						=link_to "* Urejevalnik uporablja RedCloth markup", "http://redcloth.org/"
				#intro-preview
					.body=""
				#body-tab
					=f.text_area :body, :rows => 15
					%br/
					%div{:style=>"text-align:right; width:95%"}
						=link_to "* Urejevalnik uporablja RedCloth markup", "http://redcloth.org/"
				#article-preview
					.body=""
				
		%li
			%strong Sources
			
			.sources-list
				= f.fields_for :sources do |s|
					%ul.sources
						%li.title
							%strong=s.label :title
							%br/
							=s.text_field :title
						%li.url
							%strong=s.label :url
							%br/
							=s.text_field :url
						
						%li
							- unless @article.new_record?
								%strong=t(:delete)
								= s.check_box :_destroy
								|
							
							%a.clone-source(href="#clone")
								=t(:clone)
							

		%li
			%strong=f.label :recommended, Article.human_attribute_name(:recommended)
			=f.check_box :recommended
				
		%li.authors
			%br/
			%strong= Article.human_attribute_name(:authors)
			%ul
				- User.authors.each do |author|
					%li
						%label
							= author
							= check_box_tag "article[author_ids][]", author.id, @article.authors.include?(author)

		%li
			%br/
			=link_to t("back"), admin_articles_path()
			
			- unless f.object.new_record?
				|
				=link_to t("destroy"), admin_article_path(f.object), :method => :delete
				|
				
			=f.submit t("save")
			