:css
	#article input[type="text"],
	#article textarea{ width:95% }
	#errors{ display:block; width:95%; border:1px solid red; }
	ul#article li{ margin-top:2px; margin-left:5px; margin-right:5px; }
	#article li.authors li { margin:0px; padding:0px }
	ul.sources{ /* margin-left:30px; */ border-bottom:1px solid #CCC; /* padding-bottom:5px; */}
	#content-tabs{ background-color:white; }
	#content-tabs ul, #content-tabs li{
		background-color:white;
	}
	#intro-tab, #body-tab{
		background-color:white; margin:0px; padding:0px;
		margin:3px;}
	#intro-tab textarea, #body-tab textarea{
		margin:0px; padding:0px;
		width:100%;
	}
	#article-preview .body p {margin:0 0 20px !important; line-height:21px}
	
	
	.ui-widget-content{ background-image:none; }
:javascript
	$(function(){
	
		$("a.clone-source").live("click",function(e){
			e.preventDefault();
			new_item = $(this).parent().parent().clone();
			new_item.appendTo($("div.sources-list"));
			
			$("ul.sources").each(function(i,val){
				$("li.title input",val).attr("name",
					"article[sources_attributes]["+i+"][title]"
				);
				$("li.url input",val).attr("name",
					"article[sources_attributes]["+i+"][url]"
				);
			});
		});
		
		
		$("a.redcloth").bind("click",function(e){
			if(e.preventDefault) e.preventDefault();
			
			$("#redcloth-helper").remove();
			
			var data = $('<div id="redcloth-helper">*bold*<br/>_italic_<br/>* seznam s pikicami<br/># seznam s številkami<br/>h3. veliki naslov<br/>h4. mali naslov<br/>h4{margin:0 0 15px}. naslov z odmikom spodaj<br/>"Jabolko.org":http://www.jabolko.org/<br/>');
			
			$("body").append(data);
			$("#redcloth-helper").dialog({title:"RedCloth Pomoč"});
		});
	
	});
	

	
=form_for([:admin,@article]) do |f|

	-if f.object.errors.any?
		#form_errors
			%ul
				- f.object.errors.full_messages.each do |e|
					%li=e

	%ul#article
		%li
			%strong=f.label :title, Article.human_attribute_name(:title)
			%br/
			=f.text_field :title
		%li
			%strong=f.label :image, Article.human_attribute_name(:image)
			%br/
			=f.text_field :image
		%li
			%strong=f.label :slug, Article.human_attribute_name(:slug)
			%br/
			=f.text_field :slug

		%li
			%strong=f.label :category, Article.human_attribute_name(:category)
			-Category.all.each do |category|
				%label
					=radio_button_tag 'article[category_id]', category.id, @article.category_id.to_s == category.id.to_s
					=category
		%li
			%strong=f.label :tags_list, Article.human_attribute_name(:tags)
			=f.text_field :tag_list
		
		%li{:style => "background-color:white;"}
			#content-tabs
				%ul
					%li
						%a(href="#intro-tab")=Article.human_attribute_name(:intro)
					%li
						%a(href="#intro-preview") Predogled uvoda
					%li	
						%a(href="#body-tab")=Article.human_attribute_name(:body)
					%li
						%a(href="#article-preview" id="article-preview-b") Predogled vsebine
				#intro-tab
					=f.text_area :intro, :rows => 15
					%div
						=link_to "* Urejevalnik uporablja RedCloth markup", "http://redcloth.org/", :target => "_blank", :class => "redcloth", :style => "color:#3FA9F5"
				#intro-preview
					.body=""
				#body-tab
					=f.text_area :body, :rows => 15
					%br/
					%div
						=link_to "* Urejevalnik uporablja RedCloth markup", "http://redcloth.org/", :target => "_blank", :class => "redcloth", :style => "color:#3FA9F5"
				#article-preview
					.body=""
				
		%li
			%br/
			%strong=Article.human_attribute_name(:sources)
			
			.sources-list
				= f.fields_for :sources do |s|
					%ul.sources
						%li.title
							%strong=s.label :title
							=s.text_field :title
						%li.url
							%strong=s.label :url
							=s.text_field :url
						
						%li
							- unless @article.new_record?
								%strong=t(:delete)
								= s.check_box :_destroy
								|
							
							%a.clone-source(href="#clone")
								=t(:clone)
							

		%li
			%br/
			%strong=f.label :recommended, Article.human_attribute_name(:recommended)
			=f.check_box :recommended
		
		- unless f.object.new_record?
			%li
				%br/
				%strong=f.label :published, Article.human_attribute_name(:published)
				=f.check_box :published		
				
		%li.authors
			%br/
			%strong= Article.human_attribute_name(:authors)
			%table.a{:style => "width:50%"}
				- User.authors.each do |author|
					%tr
						%td{:style => "width:35px;"}
							= check_box_tag "article[author_ids][]", author.id, @article.authors.include?(author)
						%td{:style => "width:35px;", :valign => "middle"}
							=image_tag author.gravatar_url(:size => 20)
						%td{:style => "text-align:left;"}
							= author


		%li
			%br/
			=link_to t("back"), admin_articles_path()
			
			- unless f.object.new_record?
				|
				=link_to t("destroy"), admin_article_path(f.object), :method => :delete
				|
				
			=f.submit t("save")
			