%h1= link_to page_title(t(".articles")), admin_articles_path()

%p
	=link_to t("articles.new"), new_admin_article_path()


%p.categories
	=link_to t("categories"), [:admin,:categories]
	|
	=link_to t("all"), [:admin,:articles], :class => "category"
	- @categories.each do |category|
		|
		=link_to category, admin_articles_path(:category_id => category.id), | 
			:class => "category", :id => "category-#{category.id}"
			
	

%table#articles.a
	%thead
		%tr
			%th &nbsp;
			%th=Article.human_attribute_name(:title)
			%th=Article.human_attribute_name(:published)
			%th=Article.human_attribute_name(:views)
			%th.tools= t("tools")

	%tbody
		- @articles.each do |article|
			%tr
				%td
					=image_tag article.image, :width => 30, :height => 30
				%td
					%strong
						=link_to article, article_path(article.category, article)
					%br/
					= sanitize article_created(article)
				%td{:style => "text-align:center;", :valign => "middle" }
					-if article.published?
						=t("yes")
					-else
						= link_to t("publish"), publish_admin_article_path(article), :style => "color:green"
				%td(align="center" valign="middle")=article.views
				%th(valign="middle" align="center")
					=link_to t("edit"), edit_admin_article_path(article)
	%tfoot
		%tr
			%td{:colspan => 6}
				=paginate @articles, :param_name => :articles_page

