- page_title @article.to_s

- content_for(:head) do
	%meta{:property => "og:title", :content => @article.title}/
	%meta{:property => "og:type", :content => "article"}/
	%meta{:property => "og:url", :content => article_url(@article.category, @article)}/
	%meta{:property => "og:image", :content => @article.image}/
	%meta{:property => "og:description", :content => strip_tags(sanitize(@article.intro_html)) }/
	
	= javascript_include_tag "http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js"
	
	-"shBrushAS3.js, shBrushAppleScript.js, shBrushBash.js, shBrushCss.js, shBrushDiff.js, shBrushJScript.js, shBrushJava.js, shBrushPerl.js, shBrushPhp.js, shBrushPlain.js, shBrushPowerShell.js, shBrushPython.js, shBrushRuby.js, shBrushXml.js".split(", ").each do |brush|
		= javascript_include_tag "http://alexgorbatchev.com/pub/sh/current/scripts/#{brush}"
	
	= stylesheet_link_tag "http://alexgorbatchev.com/pub/sh/current/styles/shCoreDefault.css"
	
	:javascript
		SyntaxHighlighter.all();
	
#blog_article
	= render :partial => @article, :locals => {:mode => :show}

- if @article.share_visible?
	#share_article
		%h3 Posreduj članek naprej
		=render :partial => "share_article", :locals => {:article => @article}

- if @article.recommend_visible?
	#related_articles
		%h3 Sorodni članki
		%ul
			- @article.related(4).each do |article|
				%li.related_article=link_to article, article_path(article.category, article)
		.clear=""

- if @article.comments_visible?
	#comments_wrap=disqus_thread(@article)