%h1= link_to page_title("Uporabniki"), admin_users_path()


.ztabs
	%ul
		%li=link_to "Nov uporabnik", new_admin_user_path

.stabs
	%ul
		%li= link_to t("all_types"), [:admin,:users]
		%li= link_to t("admins"), admin_users_path(:role => 'admin')
		%li= link_to t("authors"), admin_users_path(:role => 'author')
		%li= link_to t("developers"), admin_users_path(:role => 'developer')

%table#users.a
	%thead
		%tr
			%th{:style => "width:32px"} &nbsp;
			%th Naziv
			%th Email
			%th.tools Orodja
	%tbody
		- @users.each do |user|
			%tr
				%td{:align => 'center'}
					=link_to author_path(user) do
						=image_tag user.gravatar_url(:size => 32)
				%td=link_to(user, author_path(user))
				%td=user.email				
				%td
					=link_to "Uredi", [:edit,:admin,user]

	%tfoot
		%tr
			%td{:colspan => 4}
				.pagination_wrap
					.pagination
						=paginate @users, :param_name => :users_page