!!!
%html
	%head
		%meta(charset="utf-8")
	
		- if ENV["application_css_CDN"] != nil && ENV["application_css_CDN"]!=""
			- if (@gzp =~ /gzip/)!=nil
				-# = stylesheet_link_tag "#{ENV["application_css_CDN"]}.gz"
				= stylesheet_link_tag ENV["application_css_CDN"]
			- else
				= stylesheet_link_tag ENV["application_css_CDN"]
		- else
			= stylesheet_link_tag "application"

		- if ENV["application_js_CDN"] != nil && ENV["application_js_CDN"]!=""
			- if (@gzp =~ /gzip/)!=nil
				-# = javascript_include_tag "#{ENV["application_js_CDN"]}.gz"
				= javascript_include_tag ENV["application_js_CDN"]
			- else
				= javascript_include_tag ENV["application_js_CDN"]
		- else
			= javascript_include_tag "application"
			
		= csrf_meta_tags
		
	%body#error404
		#container
			=image_tag "404.gif"
			.clear
			=render :partial => 'layouts/footer'
