%meta(charset="utf-8")

- if ENV["application_css_CDN"] != nil && ENV["application_css_CDN"]!=""
	- if (@gzp =~ /gzip/)!=nil
		= stylesheet_link_tag ENV["application_css_CDN"]
	- else
		= stylesheet_link_tag ENV["application_css_CDN"]
- else
	= stylesheet_link_tag "application"

- if ENV["application_js_CDN"] != nil && ENV["application_js_CDN"]!=""
	- if (@gzp =~ /gzip/)!=nil
		= javascript_include_tag ENV["application_js_CDN"]
	- else
		= javascript_include_tag ENV["application_js_CDN"]
- else
	= javascript_include_tag "application"
	
= csrf_meta_tags

%title=page_title

%link(type="application/atom+xml" rel="alternate" title="Jabolko.org Sok" |
	href="http://feeds.feedburner.com/jabolkoorg-sok")

%link{:rel => "shortcut icon", :href => image_path('favicon.ico')}/
%link{:rel => "apple-touch-icon", :href=> image_path('iphone_57x57.png')}/

- if content_for?(:head)
	= yield(:head)
- else
	%link{:rel=>"image_src", :href=>image_path("jabolko_facebook.png")}/
	%meta{:name=>"description", :content=>"Jabolko.org je neodvisni osrednji vir znanja Apple uporabnikov Slovenija. Blog s svežimi novicami in članki iz jabolčnega sveta."}/
	%meta{:name=>"keywords", :content=>"apple, jabolko, slovenija, mac, iphone, ipod, imac, macbook, macbook pro, apple users of slovenia"}/
	
	%meta{:property => "og:title", :content => "Jabolko.org"}/
	%meta{:property => "og:type", :content => "website"}/
	%meta{:property => "og:url", :content => root_url}/
	%meta{:property => "og:image", :content => image_path("jabolko_facebook.png")}/

%meta{:property=>"fb:admins", :content=>"1014463747, 656971588"}/
%meta{:property=>"fb:app_id", :content=> "206320122766024"}/


%script{:type=>"text/javascript", :src=>"https://apis.google.com/js/plusone.js"}="{lang: 'sl'}"

:javascript
	var disqus_shortname = 'jabolko';
	(function() {
		var dsq = document.createElement('script');
		dsq.type = 'text/javascript';
		dsq.async = true;
		dsq.src = 'http://jabolko.disqus.com/count.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
		
- if Rails.env == "production"	
	=render :partial => 'layouts/ganalytics'