#sidebar
	#banner260x150
		.oglasni_prostor
			%a(href="mailto:info@jabolko.org?Subject=Želim oglaševati na Jabolko.org") Oglasni prostor
			- Banner.for_position('a').each do |banner|
				= render :partial => "admin/banners/sidebar_banner", :locals => {:banner => banner}
				
	
	
	#tabed_module.menu
		.heading Zadnji komentarji
		%p Seznam zadnjih komentarjev na foromu.
		.tabs
			.tabNav
				%ul.tabNav
					%li.selected.blog
						=link_to "Blog", root_path()
					%li.forum
						%a(href="http://forum.jabolko.org") Forum

			.tabContent
				#blog
					- cache("disqus_posts", :expires_in => 1.hour) do
						%ul.list
							-if disqus_posts(7).each do |post|
								%li
									.image
										=image_tag post["author"]["avatar"]["permalink"], :width => 32, |
											:height => 32, :alt => post["author"]["name"], :title => post["author"]["name"]
									.title
										=link_to post["thread"]["link"]+"#comment-#{post['parent']}" do
											= sanitize post["raw_message"].slice(0,30)+"..."
											-# = sanitize post["thread"]["title"]
							- end.empty?
								%li # Napaka pri obdelavi vira!
								
				#forum{:style => "display:none"}
					- cache("sidebar_forum_posts", :expires_in => 1.hour) do
						%ul.list
							-if sidebar_forum_posts(7).each do |post|
								%li
									= link_to post["url"] do
										= sanitize post["topic_title"]
							- end.empty?
								%li # Napaka pri obdelavi vira!
	
	#top_viewed.menu
		.heading Priljubljeno
		%p Najbolj priljubljeni članki na blogu.
		- cache("top_viewed", :expires_in => 1.hour) do
			%ul.list
				- Article.top_viewed.each do |article|
					%li
						.image
							= image_tag article.image, :width => 32, :height => 32, |
								:alt => article, :title => article
						.title
							=link_to article_path(article.category, article) do
								= article.to_s
	.menu
		.heading Vsebina
		%p Najdi vsebino po avtorjih in značkah
		%ul.list
			%li
				%a=link_to "Seznam avtorjev", authors_path()
			%li
				%a=link_to "Seznam značk", tags_path()
			%li
				%a(href="mailto:sodeluj@jabolko.org" target="_self") Postani avtor
			%li
				%a(href="mailto:info@jabolko.org" target="_self") Prijavi napako
	.menu