!!!
%html
	%head
		%meta(charset="utf-8")
		
		-# This is tha shit ;)
		- if ENV["application_css_CDN"] != nil && ENV["application_css_CDN"]!=""
			- if (@gzp =~ /gzip/)!=nil
				= stylesheet_link_tag "#{ENV["application_css_CDN"]}.gz"
			- else
				= stylesheet_link_tag ENV["application_css_CDN"]
		- else
			= stylesheet_link_tag "application"

		- if ENV["application_js_CDN"] != nil && ENV["application_js_CDN"]!=""
			- if (@gzp =~ /gzip/)!=nil
				= javascript_include_tag "#{ENV["application_js_CDN"]}.gz"
			- else
				= javascript_include_tag ENV["application_js_CDN"]
		- else
			= javascript_include_tag "application"
			
		
		= csrf_meta_tags
		
		%title=page_title
		
		%link(type="application/atom+xml" rel="alternate" title="Jabolko.org Sok" |
			href="http://feeds.feedburner.com/jabolkoorg-sok")
		
		%link{:rel => "shortcut icon", :href => image_path('favicon.ico')}
		%link{:rel => "apple-touch-icon", :href=> image_path('iphone_57x57.png')}
		
	%body{ :class => [ (user_signed_in?? "signed_in" : nil), |
		((user_signed_in? && current_user.is_admin?)? "is_admin":nil ) ].join(" ").strip }
		#container
			#header
				#logo
					=link_to root_path() do
						=image_tag "jabolko.png"
										
				=render :partial => 'layouts/topnav'	
				=render :partial => 'layouts/about'
				
			#main
			
				-#
					- if @is_administration != nil 
						- if user_signed_in? && current_user.is_admin?
							#admin_tools
								=link_to t("articles"), [:admin,:articles]
								=link_to t("categories"), [:admin,:categories]
								=link_to t("tags"), [:admin,:tags]
								=link_to t("users"), [:admin,:users]
								=link_to t("banners"), [:admin, :banners]
							
				-if flash[:errors]
					.ui-widget
						.ui-state-error.ui-corner-all(style="margin-bottom: 20px; padding: 10px; width:95%")
							%p
								%span(class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;")
								%strong=flash[:errors]
				
				-if flash[:error]
					.ui-widget
						.ui-state-error.ui-corner-all(style="margin-bottom: 20px; padding: 10px; width:95%")
							%p
								%span(class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;")
								%strong=flash[:error]

				-if flash[:alert]
					.ui-widget
						.ui-state-error.ui-corner-all(style="margin-bottom: 20px; padding: 10px; width:95%")
							%p
								%span(class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;")
								%strong=flash[:alert]
				
				-if	flash[:notice]
					.ui-widget
						.ui-state-highlight.ui-corner-all(style="margin-bottom: 20px; padding: 10px; width:95%")
							%p
								%span(class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;")
								%strong=flash[:notice]
			
				=yield
				%br/
			
			- if @is_administration != nil 
				=render :partial => 'layouts/admin_sidebar'
			-else
				=render :partial => 'layouts/sidebar'
				
			.clear
	
		=render :partial => 'layouts/infobox'
		=render :partial => 'layouts/footer'